{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
    {% block body %}
        <div class="emplacementHome">
            LES EQUIPES
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}