{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
    {% block body %}
        <h3 class="emplacementHome">
            LES EQUIPES
        </h3>
        {% if teams %}
        {% for team in teams %}
            {{ team.id }}
        {% endfor %}
        {% else %}
            <div class="alert alert-warning">Aucune équipe trouvée.</div>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}