{% extends 'layout.html.twig' %}
{% block body %}
    {% include 'Admin/layoutAdmin.html.twig' %}
    <div class="parent">
        <div class="enfant">
            <h2>
                Ajout d'une conférence
            </h2>
        </div>
    </div>
    <div class="well fondFormulaire" >
        <form class="form-signin form-horizontal" role="form" action="{{ path('addConferenceBDD') }}" method="post" enctype="multipart/form-data">
            <div class="">
                <div class="form-group">
                    Point cardinal / localité conférence
                    <select name="point_cardinal" required>
                        <option value="Est">Est</option>
                        <option value="Ouest">Ouest</option>
                    </select>
                </div>
                <div class="form-group">
                    Nom conférence: <input type="text" name="name" class="form-control" required>
                </div>
                <div class="formulaire_submit">
                    <button type="submit" class="btn btn-default btn-primary formulaire_submit"><span class="glyphicon"></span>Ajouter</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}