{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'Admin/layoutAdmin.html.twig' %}
    <div class="parent">
        <div class="enfant">
            <h2>
                Ajout d'un Fait
            </h2>
        </div>
    </div>
    <div class="well fondFormulaire">
        <form class="form-signin form-horizontal" role="form" action="{{ path('addBDDLegende') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                    Fait:
                    <texterrea type="text" name="libelle" class="form-control" required>
                    </texterrea>
            </div>
            <div class="form-group">
                position dans l'historique: <input type="integer" name="pos_resume" class="form-control">
            </div>
            <!-- formulaire History -->
            {% if histories %}
                <div class="form-group">
                    <div class="col-sm-6 col-md-4 col-lg-4" style="padding-left: 0" >
                        Histoire concernée:
                        <select class="form-control" name="historyId" size="1" >
                            {% for history in histories %}
                                <option value={{ history.id }}>{{ history.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                Aucune histoire trouvée : <input type="text" name="histories" class="form-control">
            {% endif %}

            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span>Ajouter</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}