{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'Admin/layoutAdmin.html.twig' %}
    <div class="parent">
        <div class="enfant">
            <h2>
                Ajout d'un poste
            </h2>
        </div>
    </div>
    <div class="well fondFormulaire">
        {{form(form)}}
    </div>
{% endblock %}