{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'Admin/layoutAdmin.html.twig' %}
    <div class="parent">
        <div class="enfant">
            <h2>
                Ajout d'un transfert
            </h2>
        </div>
    </div>
    <div class="well fondFormulaire">
        <form class="form-signin form-horizontal" role="form" action="{{ path('addJoueurBDD') }}" method="post" enctype="multipart/form-data">
            <div>

            </div>
            <div class="formulaire_submit">
                <button type="submit" class="btn btn-default btn-primary formulaire_submit"><span class="glyphicon"></span>Ajouter</button>
            </div>
        </form>
    </div>
{% endblock %}