{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
        {% block body %}
            {% include 'Admin/layoutAdmin.html.twig' %}
            <h1>
                BACK-END
            </h1>
            <div class="emplacementHome">
                C'est la partie admin, la partie back-end du site est ici.
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
{% endblock %}